
.wrapper{

  display: flex;
  flex-direction: column;
}
header{

  background-color: #E5E4E2;
  padding-bottom: 5%;
}

.nav-list{
  display: flex;
  flex-direction: row;
  position: relative;
  left: 55%;
  bottom: 20%;
  color: black;
}
#AM{
  background-color:transparent;
  background-repeat: no-repeat;
  border: solid 2px black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto Slab';
}
#C{
  background-color:transparent;
  background-repeat: no-repeat;
  border: solid 2px black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
#P{
  background-color:transparent;
  background-repeat: no-repeat;
  border: solid 2px black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto Slab';
}
#R{
  background-color:transparent;
  background-repeat: no-repeat;
  border: solid 2px black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto Slab';
}
#One{
  margin-right: 2%;
}
#Two{
  margin-right: 2%;
}
#Three{
  margin-right: 2%;
}
.content{
  color: black;
  background-color: #F0F0F0;
  padding-bottom: 10%;
}
footer{
 
  background-color: #E5E4E2;
  padding: 3%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5%;
  justify-content: center;
}
#G{
  margin-right: 4%;
  
}
#L{
  margin-right: 4%;
}
/*About Me section*/

.About-Me{
  text-align: center;
}
#Photo-Me{
  text-align: center;
}
.paragraph{
  display: inline-block;
  text-align: left;
  font-size: x-large;
  font-family:'Roboto Slab';
  text-indent: 0px; 
}

.journey{
  display: inline-block;
  text-align: left;
  font-size: x-large;
  font-family: 'Roboto Slab';
  text-indent: 0px;
}
#Journey-T{
  text-align: center;
}
/*portfolio section*/
#port-title{
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 40px;
}
.projects{
  display: flex;
  justify-content: center;
}
.Project-1{
  margin-right: 3%;
  
}
.Project-2{
  margin-right: 3%;
}
.Project-3{
  margin-right: 3%;
}
.Project-1 p{
  visibility: hidden;
}
.Project-2 p{
  visibility: hidden;
}
.Project-3 p{
  visibility: hidden;
}
/*Contact*/
.form{
  border: 5px solid black;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 38%;
  margin-top: 15%;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
.Name{
margin-bottom: 4%;
font-size: large;
}
.Email{
margin-bottom: 4%;
font-size: large;
}
.Message{
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
  font-size: large;
}
#NameText{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
#EmailText{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
#TM{
  position: relative;
  right: 3px;
  margin-bottom: 5px;
}
#txtM{
  padding: 25%;
  padding-right: 6%;
  font-size: large;
}
#submitBtn{
  padding: 5%;
  padding-right: 3%;
  padding-left: 3%;
  font-size: large;
}
/*button hovers*/
#AM:hover{
  text-decoration: underline;
}
#C:hover{
  text-decoration: underline;
}
#P:hover{
  text-decoration: underline;
}
#R:hover{
  text-decoration: underline;
}
/*portfolio*/
.Project-1:hover p{
  background-color: #808080;
  visibility: visible;
}
.Project-2:hover p{
  background-color: #808080;
  visibility: visible;
}
.Project-3:hover p{
  background-color: #808080;
  visibility: visible;
}
.Project-4:hover p{
  background-color: #808080;
  visibility: visible;
}
/*Resume*/
#resume-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
#download{
  font-size: 20px;
}
.skill1{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.skill2{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.projectLink{
  text-align: center;
}
#G3{
  position: relative;
  bottom: 10px;
}

